<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.plant_iot_tablet">

    <uses-feature android:name="android.hardware.location.network" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/background"
        android:label="AJPLANTs_Tablet"
        android:roundIcon="@mipmap/background_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Plant_IOT_Tablet"
        android:usesCleartextTraffic="true">

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true"
            android:process=":myservice" />
        <service
            android:name=".ForcedTerminationService"
            android:stopWithTask="false" />

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustNothing"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustNothing"> <!-- 가로 고정 ! -->
        </activity>
        <activity
            android:name=".PlantNameRevise"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Dialog"/>
        <activity
            android:name=".UserSetting"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".InformSetting"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".Data"
            android:screenOrientation="landscape" />
        <activity
            android:name=".WifiSetting"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".WifiPass"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Dialog" />
    </application>

</manifest>